body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"], select {
    padding: 5px;
    font-size: 16px;
    min-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

span {
    flex-grow: 1;
    font-size: 16px;
}

button[type="button"] {
    background-color: #f44336;
}

select {
    font-size: 16px;
    padding: 5px;
    margin-left: 10px;
}

#load-name {
    max-width: 200px;
}

#save-name {
    max-width: 150px;
}

#task-list li span.completed {
    text-decoration: line-through;
    color: gray;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Ajout de styles pour aligner les cases à cocher et les étiquettes */
.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-item span {
    margin-left: 10px;
}

/* Ajout de styles pour les boutons */
.button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

/* Ajout de styles pour les boutons de suppression */
.btn-delete {
    background-color: #f44336;
}

.task-item input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}

/* Ajout de styles pour rendre les boutons fluides */
.action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.action-buttons button {
    flex: 1;
    max-width: 300px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
}
.data{
    background-color: dimgray;
}